{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <script src="{% static "script.js" %}" defer></script>
</head>
<body>
    <!-- Title -->
    <h1>Remainders Game</h1>

    <!-- game board -->
    <div id="game-board" class="game-board">
        <table class="game-board rem-table">
            {% for remainder in remainders %}
                <tr>
                    <td>Remainder with {{ forloop.counter|add:"1" }}: {{ remainder }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- buttons -->
    <div id="buttons" class="buttons">
        <button id="reset-game" class="buttons reset-game">Reset</button>
    </div>

    
</body>
</html>